<section class="card">
  <a href="/meal/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}" />
      <p>{{description}}</p>
      <a href="/my-meal" class="btn btn-primary" id="add">Add to Meal</a>
    </div>
  </a>
</section>
{{! <aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">We are committed to operating a school nutrition program
      that is a friendly gathering place for students, staff, family, and
      community members; where happy, dedicated employees provide healthy food
      choices that comply with
      <em>USDA Dietary Guidelines</em>.</p>
  </div>

</aside> }}