<div class="row">
  <div class="col-auto">
     <img src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairSides&accessoriesType=Sunglasses&hairColor=Blue&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Dizzy&eyebrowType=RaisedExcitedNatural&mouthType=Serious&skinColor=DarkBrown'/>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>


<div class="row mt-4">
  <div class="col-md-6">

    {{!-- <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">meal name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">How much will it cost you to make this meal ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">How do you want it made:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form> --}}



    <form class=" new-project-form">
      <!-- Name input -->
      <div class="form-outline mb-4">
        <label for="project-name" class="form-label" >meal name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>

      <!-- Email input -->
     <div class="form-outline mb-4">
        <label class="form-label" for="project-funding">Number of meals ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>

      <!-- Message input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="project-desc">How do you want it made:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>

      {{#if has_nuts}}
      <input type="checkbox" id="has_nuts" name="has_nuts" checked />
      {{else}}
      <input type="checkbox" id="has_nuts" name="has_nuts" />
      {{/if}}
      <label for="has_nuts">
        Check box if student is allergiec
      </label>
      
          
      <!-- Submit button -->
      <div class="form-group"><button type="submit" class="btn btn-primary btn-block mb-4">Send</button></div>
      
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <div class="card">
      {{#each projects as |project|}}
      <div class="card-body">
        
        <div class="col-md-8">
        <h4>Users Meal:<a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
      {{/each}}
      </div>
       {{/if}}
    </div>

    {{!-- {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
     
    </div>
    {{/each}}
  </div>
  {{/if}} --}}
</div>

<script src="./js/profile.js"></script>
